{% extends "layout.html" %}

{% block content %}


	
	<main class="content-main">
		<section class="content-main-header">
			Approval Page
		</section>

		<section class="content-main-body">
			<div class="main-body-form">
				<header>{{user2.requestorName}}</header>
				<main>
					<section>
						<i>Work Requested :</i>
						<i>{{user2.requestTitle}}</i>
					</section>

					<section>
						<i>Availability of Materials :</i>
						<i>{{user2.avilabilityOfMaterials}}</i>
					</section>

					<section>
						<i>Status :</i>
						<i>{{user2.status}}</i>
					</section>

					<section>
						<i>Work Location :</i>
						<i>{{user2.roomNumber}}</i>
					</section>

					<section>
						<form method="POST" class="approval-form">
							<p>Set Priority Level</p>
							<p>Where 1 is the highest</p>
							{{ form.hidden_tag() }}
							{{ form.priorityLevel() }}
							{{ form.submitApproval(id="approve-btn") }}
						</form>
					</section>
				</main>
				
			</div>
		</section>

		<section class="content-main-footer">
			
		</section>
		
	</main>

	<!-- <footer class="content-footer" style="background: red;">Foot</footer> -->
	

{% endblock content %}