
{% extends "layout.html" %}

{% block content %}
		
	<main class="content-main">
		<!-- Navigations -->
		<section class="navbar">

			<div class="nav-requests">
				<img class='nav-icon' src="{{ url_for('static', filename='img/form.svg') }}">
				<p>Requests</p>
			</div>

			<div class="nav-home">
				<img class='nav-icon' src="{{ url_for('static', filename='img/home.svg') }}">
				<p>Accepted Requests</p>
			</div>
			
			<div class="nav-staff">
				<img class='nav-icon' src="{{ url_for('static', filename='img/staff.svg') }}">
				<p>Work Staff</p>
			</div>

			

		</section>

		<!-- ====== MAIN FEED ====== -->
		<section class="feed">
			<div class="feed-home feed-nav">
				<section class="info">
					<div data-req='{{ countReq }}' class="number-of-approved-requests show-info">
						<img src="{{ url_for('static', filename='img/form.svg') }}">
					</div>
					<div data-req='{{ countStaff }}' class="number-of-ongoing-requests show-info">
						<img src="{{ url_for('static', filename='img/ongoing.svg') }}">
					</div>
				</section>
				<section class="approved-requests">
					<div class="header">
						<h1>Accepted Requests</h1>
					</div>

					<div class="body">
					{% for req in workRequest  %}
						{% if req.status != 'unApproved' and req.status != 'Pending'%}
						<section class="body-content">
							<header>{{req.requestorName}}</header>
							<main>
								<h1><a href="">{{req.requestTitle}}</a></h1>
								<body onload="progress()">
									{% if req.status == 'Approved' %}
									<ul class="progress">
										<li class="approved material-icons" value="0%">check</li>
										<li class="ongoing material-icons">close</li>
										<li class="finished material-icons">close</li>
										<div class="progress-bar"></div>
									</ul>
									{% elif req.status == 'OnGoing'%}
									<ul class="progress">
										<li class="approved material-icons" value="50%">check</li>
										<li class="ongoing material-icons">close</li>
										<li class="finished material-icons">close</li>
										<div class="progress-bar"></div>
									</ul>
									{% elif req.status == 'Finished'%}
									<ul class="progress">
										<li class="approved material-icons" value="90%">check</li>
										<li class="ongoing material-icons">close</li>
										<li class="finished material-icons">close</li>
										<div class="progress-bar"></div>
									</ul>
									{% endif %}
								</body>
							</main>
							<footer>status: {{req.status}}</footer>
						</section>

						{% endif %}
					{% endfor %}
					</div>

					<div class="footer"></div>
				</section>
			</div>
			<!-- ====== END MAIN FEED ====== -->

			<!-- ====== STAFF FEED ======  -->
			<div class="feed-staff feed-nav">
				Staff
			</div>
			<!-- ====== END STAFF FEED======  -->

			<!-- ====== REQUESTS FEED ====== -->
			<div class="feed-request feed-nav">
				<nav class="feed-request-nav">
					<div>
						<img class="nav-icon" src="{{ url_for('static', filename='img/requestor.svg') }}">
					</div>
					<div>
						<img class="nav-icon" src="{{ url_for('static', filename='img/ongoing.svg') }}">
					</div>
				</nav>

				<header class="feed-request-header">
					<h1 class="title">Pending Requests</h1>
					{% with messages = get_flashed_messages() %} 
		                {% if messages %}
		                    {% for message in messages %}
		                        <div class="alert alert-removed">
		                            {{ message }}
		                        </div>
		                    {% endfor %}
		                {% endif %}
        			{% endwith %}
				</header>

				<main class="feed-request-main">
					<section class="feed-request-main-body">
						{% if countReq != 0 %}
							{% for n in pendingRequest %}
								<div class="main-content">
									<section class="main-content-header">{{ n.requestorName }}</section>
									<section class="main-content-body">
										<a href="">{{ n.requestTitle }}</a>
									</section>
									<section class="main-content-footer"></section>
									<div class="feed-request-close-btn">
										<a href="{{url_for('reject', name=n.requestTitle, ids=n.requestFormId)}}">
											<img src="{{ url_for('static', filename='img/close-btn2.svg') }}">
										</a>
										
									</div>
								</div>
							{% endfor %}
						{% else %}
							<h1>No Pending Requests</h1>
						{% endif %}
					</section>
					
				</main>

				<footer class="feed-request-footer">
					
				</footer>
			</div>
			<!-- ====== END REQUESTS FEED======  -->
		</section>

	</main>

	<footer class="content-footer">
			foot
	</footer>

{% endblock content %}
