{% extends "layout.html" %}

{% block content %}


	
	<main class="content-main">
		<section class="content-main-header">
			Approval Page
		</section>

		<section class="content-main-body">
			<div class="main-body-form">
				<header>{{user2.requestorName}}</header>
				<main>
					<section>
						<i>Work Requested :</i>
						<i>{{user2.requestTitle}}</i>
					</section>

					<section>
						<i>Availability of Materials :</i>
						<i>{{user2.avilabilityOfMaterials}}</i>
					</section>

					<section>
						<i>Status :</i>
						<i>{{user2.status}}</i>
					</section>

					<section>
						<i>Work Location :</i>
						<i>{{user2.roomNumber}}</i>
					</section>

					<section>
						<form method="POST" class="approval-form">
							<p>Set Priority Level</p>
							<p>Where 1 is the highest</p>
							{{ form.hidden_tag() }}
							{{ form.priorityLevel() }}

							{{ form.assignStaff.label}}:

							{{ form.assignStaff(class='assignStaff',readonly=true, value='None') }}
							<span class="assign-btn">Assign a Staff</span>
							{{ form.submitApproval(id="approve-btn") }}
						</form>

					</section>

				</main>
				
			</div>
		</section>

		<!-- Modal for assigning staffs -->
		<div class="modal-wrapper">
			
			<div class="modal">
				<span class="modal-header">Assign Staff</span>
				<span class="modal-content">
					{% for staff in userStaff %}
					<div class="staff-names">
						<section class="header">Staff</section>
						<section class="main"><a href='#'id="staffName">{{ staff.staffName }}</a></section>
						<section class="footer">
							<i>Occupation: {{ staff.staffOccupation }}</i>
							{% if staff.staffRating >= 0 and staff.staffRating <= 1%}
								<i>
									<i>Rating: </i>
									<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
								</i>
							{% elif staff.staffRating <= 2 and staff.staffRating > 1%}
								<i>
									<i>Rating: </i>
									{% for i in range(2) %}
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									{% endfor %}
								</i>
							{% elif staff.staffRating <= 3 and staff.staffRating > 2%}
								<i>
									<i>Rating: </i>
									{% for i in range(3) %}
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									{% endfor %}
								</i>
							{% elif staff.staffRating <= 4 and staff.staffRating > 3%}
								<i>
									<i>Rating: </i>
									{% for i in range(4) %}
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									{% endfor %}
								</i>
							{% elif staff.staffRating <= 5 and staff.staffRating > 4%}
								<i>
									<i>Rating: </i>
									{% for i in range(5) %}
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									{% endfor %}
								</i>
							{% endif %}
						</section>

					</div>
					{% endfor %}

				</span>
				<img src="{{url_for('static', filename='img/close-btn2.svg')}}" id="close-btn">
				<span class="modal-footer">Footer</span>
			</div>

		</div>

		<section class="content-main-footer">
			
		</section>
		
	</main>

	<!-- <footer class="content-footer" style="background: red;">Foot</footer> -->
	

{% endblock content %}