
{% extends "layout.html" %}

{% block content %}
		
	<main class="content-main">
		<!-- Navigations -->
		<section class="navbar">

			<div class="nav-requests">
				<img class='nav-icon' src="{{ url_for('static', filename='img/form.svg') }}">
				<p>Requests</p>
			</div>

			<div class="nav-home">
				<img class='nav-icon' src="{{ url_for('static', filename='img/home.svg') }}">
				<p>Accepted Requests</p>
			</div>
			
			<div class="nav-staff">
				<img class='nav-icon' src="{{ url_for('static', filename='img/staff.svg') }}">
				<p>Finished Jobs</p>
			</div>

			

		</section>

		<!-- ====== MAIN FEED ====== -->
		<section class="feed">
			<div class="feed-home feed-nav">
				<section class="info">
					<div data-req='{{ countReq }}' class="number-of-approved-requests show-info">
						<img src="{{ url_for('static', filename='img/form.svg') }}">
					</div>
					<div data-req='{{ countStaff }}' class="number-of-ongoing-requests show-info">
						<img src="{{ url_for('static', filename='img/ongoing.svg') }}">
					</div>
				</section>
				<section class="approved-requests">
					<div class="header">
						<h1>Requests Information</h1>
					</div>

					<div class="body">
					{% for req in workRequest  %}
						{% if req.status != 'unApproved' and req.status != 'Pending' and req.status != 'Semi Final' and req.status != 'Finished'%}
						<section class="body-content">
							<header>{{req.requestorName}}</header>
							<main>
								<h1><a href="">{{req.requestTitle}}</a></h1>
								<body onload="progress()">
									{% if req.status == 'Approved' %}
									<ul class="progress">
										<li class="approved material-icons" value="0%">check</li>
										<li class="ongoing material-icons">close</li>
										<li class="finished material-icons">close</li>
										<div class="progress-bar"></div>
									</ul>
									{% elif req.status == 'OnGoing'%}
									<ul class="progress">
										<li class="approved material-icons" value="50%">check</li>
										<li class="ongoing material-icons">close</li>
										<li class="finished material-icons">close</li>
										<div class="progress-bar"></div>
									</ul>
									{% elif req.status == 'Finished'%}
									<ul class="progress">
										<li class="approved material-icons" value="90%">check</li>
										<li class="ongoing material-icons">close</li>
										<li class="finished material-icons">close</li>
										<div class="progress-bar"></div>
									</ul>
									{% endif %}
									<span class="body-content-status">{{req.status}}</span>
								</body>
							</main>
							<footer>
								{% if req.priorityLevel == 1 %}
									<span>Priority Level: <i style="color: red">High</i></span>
								{% elif req.priorityLevel == 2 %}
									<span>Priority Level: <i style="color: orange">Medium</i></span>
								{% elif req.priorityLevel == 3 %}
									<span>Priority Level: <i style="color: green">Low</i></span>
								{% endif %}
								<span>Date Work Time: <i>{{ req.dateApproved.strftime("%B %d, %Y") }} - {{ req.dateLimit.strftime("%B %d, %Y")  }}</i></span>
								<span>Assigned Staff: <i style="text-decoration: underline;">{{ req.staffAssignment.staffName }}</i></span>
								<span>Work Location: <i>{{ req.roomNumber }}</i></span>
							</footer>
						</section>

						{% endif %}
					{% endfor %}
					</div>

					<div class="footer"></div>
				</section>
			</div>
			<!-- ====== END MAIN FEED ====== -->

			<!-- ====== STAFF FEED ======  -->
			<div class="feed-staff feed-nav">
				<section class="top-staff">
					<span class="top-staff-title">
						Work Staffs
					</span>

					<span class="top-staff-profile">
						{% for staff in staff %}
						<div class="staff-profile">
							<i class="id" style="display: none;">{{ staff.staffId }}</i>
							<i class="name">{{ staff.staffName }}</i>
							<i class="age">{{ staff.staffAge }}</i>
							<i class="gender">{{ staff.staffGender }}</i>
							<i class="occupation">{{ staff.staffOccupation }}</i>
							
							<span class="rating">
								<i>Rating: </i>
								{% if staff.staffRating >= 0 and staff.staffRating == 1%}
									<div>
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									</div>
								{% elif staff.staffRating == 2 %}
									<div>
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									</div>
								{% elif staff.staffRating == 3 %}
									<div>
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									</div>
								{% elif staff.staffRating == 4 %}
									<div>
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									</div>
								{% elif staff.staffRating == 5 %}
									<div>
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
										<img class='star-rating' src="{{ url_for('static', filename='img/star.svg') }}">
									</div>
								{% endif %}
									
							</span>
							
						</div>
						{% endfor %}
					</span>
				</section>

				<section class="work-request-confirmation">
					<section class="header">Final Work Confirmation</section>

					<section class="main">
						{% for i in workRequest %}
							{% if i.status == 'Semi Final' %}
								<div class="main-content">
									
									<span class="name">{{i.requestorName}}</span>
									<span class="title">{{i.requestTitle}}</span>
									<span class="type">{{i.requestedWork}}</span>
									<span class="location">{{i.roomNumber}}</span>
									<span class="staff">{{i.staffAssignment.staffName}} - {{i.staffAssignment.staffOccupation}}</span>
									<span class="date">{{i.dateApproved.strftime("%B %d, %Y")}} - {{i.dateLimit.strftime("%B %d, %Y")}}</span>
									<span class="confirm-finish">
										<a href="{{ url_for('adminFinalConfirm', name=i.requestorName, idNum=i.id) }}">Finish</a>
									</span>
								</div>
							{% endif %}
						{% endfor %}
					</section>

					<section class="footer">
						
					</section>
				</section>
			</div>
			<!-- ====== END STAFF FEED======  -->

			<!-- ====== REQUESTS FEED ====== -->
			<div class="feed-request feed-nav">
				<nav class="feed-request-nav">
					<div>
						<img class="nav-icon add-req" src="{{ url_for('static', filename='img/requestor.svg') }}">
					</div>
					<div>
						<img class="nav-icon add-staff" src="{{ url_for('static', filename='img/ongoing.svg') }}">
					</div>
				</nav>

				<header class="feed-request-header">
					<h1 class="title">Pending Requests</h1>
					{% with messages = get_flashed_messages() %} 
		                {% if messages %}
		                    {% for message in messages %}
		                        <div class="alert alert-removed">
		                            {{ message }}
		                        </div>
		                    {% endfor %}
		                {% endif %}
        			{% endwith %}
				</header>

				<main class="feed-request-main">
					<section class="feed-request-main-body">
						{% if countReq != 0 %}
							{% for n in pendingRequest %}
								<div class="main-content">
									<section class="main-content-header">
										<i>{{ n.requestorName }}</i>
									</section>
									<section class="main-content-body">
										<a href="{{ url_for('adminPageApproval', name=n.requestorName, idNum=n.id) }}">{{ n.requestTitle }}</a>
									</section>
									<section class="main-content-footer">Date: {{ n.dateApproved.strftime("%B %d, %Y") }}</section>
									<div class="feed-request-close-btn">
										<a href="{{url_for('reject', name=n.requestTitle, ids=n.requestFormId)}}">
											<img src="{{ url_for('static', filename='img/close-btn2.svg') }}">
										</a>
										
									</div>
								</div>
							{% endfor %}
						{% else %}
							<h1>No Pending Requests</h1>
						{% endif %}
					</section>

					
					
				</main>

				<footer class="feed-request-footer">
					
				</footer>
			</div>
			<!-- ====== END REQUESTS FEED======  -->
		</section>

	</main>

	<footer class="content-footer">
			foot
	</footer>
<!-- this is for the modal requestor -->
	<div class="modal-requestor modal">
		<div class="modal-content">
			<form method='POST' class="form-add-requestor">
				<h1>Add Requestor</h1>
				{{ form.hidden_tag() }}
				{{ form.userName(class="username", placeholder="Enter Department") }}
				{{ form.passWord(class="password", placeholder="Enter Password") }}
				{{ form.submitReq(id="submit-btn") }}
			</form>
			<div class="close-btn-modal">
				<img src="{{ url_for('static', filename='img/close-btn2.svg') }}">
			</div>
		</div>
	</div>
<!-- this is for the modal staff -->
	<div class="modal-staff modal">
		<div class="modal-content-staff">
			<form method='POST' class="form-add-staff">
				<h1>Add Work Staff</h1>
				{{ form2.hidden_tag() }}
				{{ form2.userName(class="username-staff", placeholder="Enter Staff Name") }}
				{{ form2.passWord(class="password-staff", placeholder="Enter Password") }}
				{{ form2.age(class='age', placeholder='Enter Age') }}
				{{ form2.occupation(class='occupation', placeholder='Enter Occupation') }}
				<i>Gender: </i>
				{{ form2.gender(class='gender') }}
				{{ form2.submitStaff(id="submit-btn") }}
			</form>
			<div class="close-btn-modal-staff">
				<img src="{{ url_for('static', filename='img/close-btn2.svg') }}">
			</div>
		</div>
	</div>

{% endblock content %}
