{% extends "layout.html" %}

{% block content %}
	<!-- MAIN CONTENT -->
	<section class="content-main">
		<!-- Main-Header -->
		<div class="content-main-head">
			Requests Time Line
		</div><!-- End Main-Header -->

		<!-- Main-Body -->
		<div class="content-main-body">
			<!-- Request Status  -->
			{% for userForms in userForm %}
			{% if userForms.status != 'Pending' %}
				<div class="content-main-body-requests">
					<header>
						{{ userForms.requestTitle }}
					</header>

					<main>
						<body onload="progress()">
								{% if userForms.status == 'Approved' %}
								<ul class="progress">
									<li class="approved material-icons" value="0%">check</li>
									<li class="ongoing material-icons">close</li>
									<li class="finished material-icons">close</li>
									<div class="progress-bar"></div>
								</ul>
								{% elif userForms.status == 'OnGoing' or userForms.status == 'Semi Final'%}
								<ul class="progress">
									<li class="approved material-icons" value="50%">check</li>
									<li class="ongoing material-icons">close</li>
									<li class="finished material-icons">close</li>
									<div class="progress-bar"></div>
								</ul>
								{% elif userForms.status == 'Finished'%}
								<ul class="progress">
									<li class="approved material-icons" value="90%">check</li>
									<li class="ongoing material-icons">close</li>
									<li class="finished material-icons">close</li>
									<div class="progress-bar"></div>
								</ul>
								{% endif %}
						</body>
						
					</main>
					

					<footer>
						{% if userForms.priorityLevel == 1  %}
							<span>Priority Level: <i style="color:red;">High</i></span>

						{% elif userForms.priorityLevel == 2  %}
							<span>Priority Level: <i style="color:orange;">Medium</i></span>

						{% elif userForms.priorityLevel == 3  %}
							<span>Priority Level: <i style="color:green;">Low</i></span>

						{% endif %}
						<span class="assigned-staff">
							<p>Assigned Staff: </p> 
							<a href="">{{userForms.staffAssignment.staffName}}</a>
						</span>
						<span class="status">
							<p>Status: </p> 
							{% if userForms.status == 'Semi Final' %}
								<p id="status" style="color: gray;">Waiting For Confirmation</p>
							{% else %}
								<p id="status">{{ userForms.status }}</p>
							{% endif %}
						</span>

						<span class="dateApp">
							<p>Date Work Time: </p> 
							<p id="status" style="font-weight: bold;">{{ userForms.dateApproved.strftime("%B %d, %Y") }} - {{ userForms.dateLimit.strftime("%B %d, %Y") }}</p>
						</span>

						{% if userForms.status == 'Finished'%}
							<span class="rate-btn">
								<a href="">Rate Staff</a>
							</span>
						{% endif %}

					</footer>
				</div>
			{% endif %}
			{% endfor %}
		</div> <!-- End Main-Body -->

		<!-- Main-Foot -->
		<div class="content-main-foot">
			<button class="request-work-btn">Request Work</button>
		</div><!-- End Main-Foot -->


		<!-- ========== Modal Pop-up Work Request From ========== -->

		<div class="modal-popup-request-form">
			<section class="request-form">
				<header>Work Request form</header>
				<main>
					<form action="" method="POST">
						{{ form.hidden_tag() }}
						<fieldset class="request-form-header">
							<legend>Name of Request</legend>
							{{ form.requestTitle(class='requestTitle',placeholder='Enter Title') }}
							{{ form.requestRoomNumber(class='requestRoomNumber',placeholder='Enter Work Location') }}
						</fieldset>

						<fieldset class="request-choices">
							<legend>Choose Type of Work</legend>
							{{ form.workOrder(class='request-form-workOrder') }}
						</fieldset>
						<fieldset class="request-form-availability">
							<legend>Material Availability</legend>
							{{ form.materialAvailability(class='materialAvailability') }}
						</fieldset>
						{{ form.submit(class='request-form-submit') }}
					</form>
					<span class="request-form-close material-icons">
						close
					</span>
				</main>

				<footer>
				</footer>
			</section>
		</div>
		<!-- ========== END | Modal Pop-up Work Request From ========== -->

	</section>
	<!-- END MAIN CONTENT -->

	<!-- LEFT SIDE CONTENT -->
	<section class="content-side-left">

		<span class="content-side-left-profile">
			<i class="material-icons content-side-left-icon">person</i>
			<a href="{{ url_for('profilePage') }}">Profile</a>
		</span>

		<span class="content-side-about">
			<i class="material-icons content-side-left-icon">help</i>
			<a href="">About</a>
		</span>

	</section>
	<!-- END LEFT SIDE CONTENT -->

	<!-- RIGHT SIDE CONTENT -->
	<section class="content-side-right">
		<header>Pending Requests</header>
		<main>
				{% for userForms in userForm %}
					{% if userForms.status == 'Pending' %}
						<span class="content-side-right-items">
							<div class="header-item">{{ userForms.requestorName }}</div>
							<div class="body-item"><a href="#">{{ userForms.requestTitle }}</a></div>
							<div class="footer-item">Status: {{ userForms.status }}</div>
						</span>
					{% endif %}
				{% endfor %}
		</main>
		<footer></footer>

	</section>

	<!-- END RIGHT SIDE CONTENT -->

	<!-- FOOT CONTENT -->
	<section class="content-foot">
		
	</section>
	<!-- END FOOT CONTENT -->

{% endblock content %}