{% extends "layout.html" %}

{% block content %}

<!-- ========== Main Content ========== -->
<main class="content-main">
		<i>{{ userStaff.staffName }}</i>
		<i>{{ userStaff.staffAge }}</i>
		<i>{{ userStaff.staffGender }}</i>
		<i>{{ userStaff.staffOccupation }}</i>
</main>
<!-- ========== END - Main Content - END ========== -->



<!-- ========== Left Content ========== -->
<!-- this is where the staff assignment of work request is being viewd -->
<section class="content-assigned-work">
	<section class="header">Assigned Work</section>
	<section class="main">Main</section>
	<section class="footer">Foot</section>
</section>
<!-- ========== END - Left Content - END ========== -->


<!-- ========== Right Content ========== -->
<section class="content-right">
	
</section>
<!-- ========== END - Right Content - END ========== -->


<!-- ========== Foot Content ========== -->
<footer class="content-footer">
	
</footer>
<!-- ========== END - Foot Content - END ========== -->


{% endblock content %}