{% extends "layout.html" %}

{% block content %}

<!-- ========== Main Content ========== -->
<main class="content-main">
		<i>{{ userStaff.staffName }}</i>
		<i>{{ userStaff.staffAge }}</i>
		<i>{{ userStaff.staffGender }}</i>
		<i>{{ userStaff.staffOccupation }}</i>
</main>
<!-- ========== END - Main Content - END ========== -->



<!-- ========== Left Content ========== -->
<section class="content-left">
	
</section>
<!-- ========== END - Left Content - END ========== -->


<!-- ========== Right Content ========== -->
<section class="content-right">
	
</section>
<!-- ========== END - Right Content - END ========== -->


<!-- ========== Foot Content ========== -->
<footer class="content-footer">
	
</footer>
<!-- ========== END - Foot Content - END ========== -->


{% endblock content %}