{% extends "layout.html" %}

{% block content %}

<!-- ========== Main Content ========== -->
<main class="content-main">

		<section class="header">
			Started Jobs 
		</section>

		<section class="body">
			{% for assigned in userStaffAssigned %}
				{% if assigned.status == 'OnGoing'%}
					<div class="content">
						<section class="content-deptName">
							<i>{{ assigned.requestorName }}</i>
						</section>

						<section class="content-title">
							<i>{{ assigned.requestTitle }}</i>
						</section>
						<section class="content-date">
							<i>Location: <p> {{ assigned.roomNumber }}</p></i>
							{% if assigned.priorityLevel == 1 %}
								<i>Priority Level: <p style="color:red;">High</p></i>
							{% elif assigned.priorityLevel == 2 %}
								<i>Priority Level: <p style="color:orange;">Medium</p></i>
							{% elif assigned.priorityLevel == 3 %}
								<i>Priority Level: <p style="color:green;">Low</p></i>
							{% endif %}
							<i>Time Limit: <p> {{ assigned.dateLimit.strftime("%B %d, %Y") }}</p></i>
						</section>
					</div>
				{% endif %}
			{% endfor %}
		</section>

		<section class="footer">
			
		</section>

</main>
<!-- ========== END - Main Content - END ========== -->



<!-- ========== Left Content ========== -->
<!-- this is where the staff assignment of work request is being viewd -->
<section class="content-left">
	<section class="header">Assigned Work</section>
	<section class="main">
		{% for assigned in userStaffAssigned %}
			{% if assigned.status != 'OnGoing' %}
			<div class="content-left-items">
				<section class="req-name">
					{{ assigned.requestorName }}
				</section>
				
				<section class="req-title">
					<a href="{{ url_for('staffOngoingPage', name=assigned.requestorName, idNum=assigned.id) }}">{{ assigned.requestTitle }}</a>
				</section>
				<section class="req-status">
					{% if assigned.priorityLevel == 1 %}
						<span>Priority Level: <i style="color:red;">High</i></span>
					{% elif assigned.priorityLevel == 2 %}
						<span>Priority Level: <i style="color:orange;">Medium</i></span>
					{% elif assigned.priorityLevel == 3 %}
						<span>Priority Level: <i style="color:green;">Low</i></span>
					{% endif %}
				</section>
			</div>
			{% endif %}
		{% endfor %}
	</section>
	<section class="footer">Foot</section>
</section>
<!-- ========== END - Left Content - END ========== -->


<!-- ========== Right Content ========== -->
<section class="content-right">
	
</section>
<!-- ========== END - Right Content - END ========== -->


<!-- ========== Foot Content ========== -->
<footer class="content-footer">
	
</footer>
<!-- ========== END - Foot Content - END ========== -->


{% endblock content %}