@import 'globalVariables.css';



body{
	background: var(--white);
}


.container{
	margin: 0;
	display: grid;
	height: 100vh;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0fr 1fr 0.5fr;

	grid-template-areas: 
			'h h h'
			'm m m'
			'f f f';
}
/*=================================*/
/* CONTENT HEADER ================*/
/*===============================*/
.content-header{
	grid-area: h;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--fn-small);
}

.img-box{
	flex-grow: 0;
}
.header-title{
	flex-grow: 1;
	margin-left: 1rem;
	
}
.header-title a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}
.header-user{
	flex-grow: 1;
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}

.header-profile{
	flex-grow: 0.3;
}
.header-profile a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}
.title-form{
	color: var(--blue);
	background-color: red;
}

/*========================*/
/* Main Content =========*/
/*======================*/

.content-main{
	grid-area: m;
	/*background: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-main-header{
	color: var(--blue);
	font-size: var(--fn-large);
	font-weight: lighter;
}
.content-main-body div{
	display: flex;
	flex-direction: column;
	/*background: yellow;*/
	height: 100%;
	width: 30vw;
	border: 1px solid var(--blueGreen);
	margin-top: 3rem;
	box-shadow: 10px 10px var(--blueGreen);
}
.content-main-body div header, .content-main-body div main, .content-main-body div footer{
	color: var(--blue);
}
.content-main-body div header{
	flex-grow: 0;
	/*background: blue;*/
	text-align: center;
	font-size: var(--fn-large);
	font-weight: lighter;
	border-bottom: 1px solid var(--blueGreen);
	padding: 0;
	margin: 0;
}
.content-main-body div main{
	flex-grow: 1;
	/*background: green;*/
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.3fr;
}
.content-main-body div main section:first-child{
	padding: 1rem 1rem 1rem 0rem;
}
.content-main-body div main section{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--blueGreen);
	/*padding: 0.5rem;*/
	padding: 0;
	justify-content: center;
}
.content-main-body div main section i{
	padding: 0;
	margin-left: 1rem;
}
.content-main-body div main section i:nth-child(2){
	font-size: var(--fn-medium);
	margin-left: 2rem;
	font-style: normal;
}

.content-main-body div footer{
	flex-grow: 0;
	/*background: pink;*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
#approve-btn{
	font-size: var(--fn-regular);
	background: var(--blue);
	color: var(--white);
	font-weight: lighter;
	padding: 0.5rem 2rem 0.5rem 2rem;
	cursor: pointer;
}

#approve-btn:active{
	background: var(--blueGreen);
}
.approval-form{
	display: block;
	text-align: center;
}
.content-main-body div main section:nth-child(5) ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*background-color: red;*/
	margin: 0rem 5rem 0rem 3rem;
}
.content-main-body div main section:nth-child(5) ul li{
	font-size: 1.2rem;
}
/*========================*/
/* Footer Content =========*/
/*======================*/

.content-footer{
	grid-area: f;
}