@import 'globalVariables.css';

body{
	background: var(--white);
}


.container{
	margin: 0;
	display: grid;
	height: 100vh;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0fr 1fr 0.0fr;

	grid-template-areas: 
			'h h h'
			'm m m'
			'f f f';
}
/*=================================*/
/* CONTENT HEADER ================*/
/*===============================*/
.content-header{
	grid-area: h;
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	align-items: center;
	padding: var(--fn-small);
}

.img-box{
	flex-grow: 0;
}
.header-title{
	flex-grow: 0;
	margin-left: 1rem;
	
}
.header-title a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}
.header-user{
	flex-grow: 1;
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}

.header-profile{
	flex-grow: 0.3;
}
.header-profile a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}


/*========================*/
/*====== MAIN CONTENT ====*/
/*========================*/

.content-main{
	grid-area: m;
	/*background-color: pink;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--blue);
}
.content-main h1{
	font-size: var(--fn-medium);
	margin-top: 1rem;
}
.content-main section{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--blue);
	width: 30%;
	box-shadow: 10px 10px var(--blue);
}
.content-main section i:first-child{
	text-align: center;
	font-size: var(--fn-medium);
	border-bottom: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
}
.content-main section i:nth-child(2){
	text-align: center;
	font-size: var(--fn-large);
	border-bottom: 1px solid var(--blue);
}

.content-main section i:nth-child(2)::after{
	content: 'Rate Staff from 1 - 5';
	font-size: var(--fn-small);
	display: block;
}

.rate-staff{
	display: flex;
	flex-direction: column;
	justify-content: center;

}


ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin-right: 1rem;
	justify-content: space-around;
	padding: 1rem;
	font-size: var(--fn-medium);
}
li{
	padding-left: 2rem;
	padding-right: 1rem;
	/*background-color: green;*/
}
.rate-staff div:last-child{
	border-top: 1px solid var(--blue);
	padding: 1rem;
}

.rating-btn{
	border: 1px solid var(--blue);
	padding: 0.5rem 2rem 0.5rem 2rem; 
	margin-left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	background-color: var(--white);
	font-size: var(--fn-regular);
	font-weight: bold;
}

.rating-btn:hover{
	background-color: var(--blue);
	color: var(--white);
}
.content-footer{
	grid-area: f;
}


