@import 'globalVariables.css';

body{
	background: var(--black);
	color: var(--white);
}

/* CONTAINER PROPERTIES */
.container{
	
	height: 100vh;
	display: grid;
	grid-template-columns: 0.3fr 1fr 0.3fr;
	grid-template-rows: 0fr 1fr 0.05fr;
	grid-gap: 1rem;

	grid-template-areas: 
			'h h h'
			'l m r'
			'f f f';
}
.container *{
	/*box-shadow: 1px 1px 3px 0px var(--shadow);*/
	padding: var(--fn-regular);
	/*text-align: center;*/
}
.alert{
	font-size: var(--fn-regular);
	padding: 0;
	margin-bottom: 0;
	background: var(--green);
	border-radius: var(--fn-regular);
	color: var(--white);
}
/*===========================================*/
/* HEADER ==================================*/
/*=========================================*/
.content-header .header-title a{
	text-decoration: none;
	color: var(--white);
}
.content-header{
	padding: 0;
	grid-area: h;
	box-shadow: 1px 1px 3px 0px var(--shadow);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.img-box{
	flex-grow: 0;
	padding: 0;
}
.header-title{
	flex-grow: 2;
	padding: 0;
}
.header-user{
	flex-grow: 2;
	font-size: var(--fn-medium);
	padding: 0;
}
#logo{
	flex-grow: 0;
	padding: 0;
	filter: var(--img-color-white);
	width: var(--fn-large);
	height: var(--fn-large);
}
.header-profile{
	flex-grow: 1;
	padding: 0;
}

/* ===== Modal Pop-up ===== */
.modal-popup-request-form{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.4);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
	
}
.modal-popup-request-form-active{
	visibility: visible;
	opacity: 1;
}
.request-form{
	background: var(--white);
	padding: 0;
	color: var(--black);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0fr 1fr 0fr;
	margin: 0;
	width: auto;
	height: 80%;
	position: relative;
	border-radius: 1rem;
}
.request-form header{
	font-weight: bold;
	padding: 1rem;
	border-bottom: 1px solid var(--black);
}
.request-form main{
	padding: 1rem;
	/*border-bottom: 1px solid var(--black);*/
	display: flex;
	overflow: scroll;
}
.request-form footer{
	padding: 0rem;
}

.request-form-workOrder{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.request-choices{
	padding: 0;
	font-size: var(--fn-regular);
}
.request-form-availability{
	padding: 0;
}
.request-form-availability ul{
	list-style: none;
	padding: 0;
}

.request-form-submit{
	background: var(--orange);
	color: var(--white);
	border: none;
	cursor: pointer;
	border-radius: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 35%;
}
.request-form-close{
	position: absolute;
	top: 0;
	left: 90%;
	cursor: pointer;
}
/*===========================================*/
/* MAIN CONTENT ==================================*/
/*=========================================*/

.content-main{
	grid-area: m;
	box-shadow: 1px 1px 3px 0px var(--shadow);
	padding: 0;
	display: flex;
	flex-direction: column;
}

/* Contents of content-main */
.content-main-head{
	padding: 1rem;
	border-bottom: 2px solid var(--white);
	text-align: center;
	flex-grow: 0;
	font-size: var(--fn-medium);
}
.content-main-body{
	display: flex;
	flex-direction: column;
	overflow: scroll;
	flex-grow: 1;
	height: 1rem;
}

/* content requests status */
.content-main-body-requests{
	margin-top: 1rem;
	padding: 0;
	border: 1px solid var(--white);
	border-radius: var(--fn-small);

}
/* content requests status main */
.content-main-body-requests main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.approved, .onGoing, .finished{
	/*display: flex;
	flex-direction: row;*/
	/*text-align: center;*/
	background: var(--white);
	color: var(--black);
	border-radius: var(--fn-small);
	/*padding: 1rem;*/
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	z-index: 100;
	position: relative;
	cursor: pointer;
}
.approved i, .onGoing i, .finished i{
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 0.3rem;
}


/* content requests status header */
.content-main-body-requests header{
	border-bottom: 1px solid var(--white);
	text-align: center;
	font-size: var(--fn-medium);
}
/* content requests status footer */
.content-main-body-requests footer{
	border-top: 1px solid var(--white);
	flex-grow: 0;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.content-main-body-requests footer span, 
.content-main-body-requests footer span p, 
.content-main-body-requests footer span a{
	padding: 0;
}
.content-main-body-requests footer span:nth-child(2){
	display: flex;
	flex-direction: row;
}
.content-main-body-requests footer span:nth-child(3){
	display: flex;
	flex-direction: row;
}
 .content-main-body-requests footer span a, .content-main-body-requests footer span:nth-child(3) p:nth-child(2){
 	text-decoration: none;
 	color: var(--white);
 	margin-left: var(--fn-small);
 }

/* Content requests foot */
.content-main-foot{
	text-align: left;
}
/* Content requests Request work button */
.request-work-btn{
	background: var(--orange);
	box-shadow: 1px 1px 3px 0px var(--shadow);
	border: none;
	color: var(--white);
	border-radius: var(--fn-small);
	cursor: pointer;
}
.request-work-btn:active{
	background: var(--gray);
	box-shadow: 0px 0px 0px 0px var(--shadow);
	color: var(--white);
}


/*===========================================*/
/* LEFT SIDE CONTENT ==================================*/
/*=========================================*/

.content-side-left{
	grid-area: l;
	box-shadow: 1px 1px 3px 0px var(--shadow);
	display: flex;
	flex-direction: column;
}
.content-side-left span a{
	padding: 0;
	text-decoration: none;
	color: var(--white);

}
.content-side-left span a:hover{
	text-decoration: underline;
}
.content-side-left span{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
}
.content-side-left-icon{
	padding: 0.5rem;
}

/*===========================================*/
/* RIGHT SIDE CONTENT ==================================*/
/*=========================================*/
.content-side-right{
	grid-area: r;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.content-side-right header, 
.content-side-right main, 
.content-side-right footer{
	padding: 0;
}

.content-side-right header{
	border-bottom: 2px solid var(--white);
	padding: 1rem 0 1rem 0; /* top, left, botton, right */
	text-align: center;
	font-size: var(--fn-medium);
}

/*===========================================*/
/* FOOTER CONTENT ==================================*/
/*=========================================*/
.content-foot{
	grid-area: f;
}


