@import 'globalVariables.css';



body{
	background: var(--white);
}


.container{
	margin: 0;
	display: grid;
	height: 100vh;

	grid-template-columns: 0.2fr 1fr 0.5fr;
	grid-template-rows: 0fr 1fr 0.02fr;

	grid-template-areas: 
			'h h h'
			'l m r'
			'f f f';
}
/*=================================*/
/* CONTENT HEADER ================*/
/*===============================*/
.content-header{
	grid-area: h;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--fn-small);
}

.img-box{
	flex-grow: 0;
}
.header-title{
	flex-grow: 0;
	margin-left: 1rem;
	
}
.header-title a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}
.header-user{
	flex-grow: 1;
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}

.header-profile{
	flex-grow: 0.3;
}
.header-profile a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}

/*======================*/
/*==== CONTENT MAIN =====*/
/*======================*/

.content-main{
	grid-area: m;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	border: 1px solid var(--blue);
}
.content-main-head{
	flex-grow: 0;
	font-size: var(--fn-medium);
	text-align: center;
	color: var(--white);
	background-color: var(--blue);
	border-bottom: 1px solid var(--blue);
	padding: 1rem 0rem 1rem 0rem;
	font-weight: lighter;
	font-weight: bold;
}
/*content body*/
.content-main-body{
	flex-grow: 1;
	/*background-color: yellow;*/
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 1rem;
	padding: 1rem;
}
.dateApp{
	display: flex;
	flex-direction: row;
}
.dateApp p:nth-child(2){
	margin-left: 0.3rem;
}
.content-main-body-requests{
	/*background-color: pink;*/
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	/*padding: 1rem*/
	border: 1px solid var(--blue);
	box-shadow: 10px 10px var(--blue);
	margin: 0rem 3rem 2rem 3rem

}
.content-main-body-requests header{
	text-align: center;
	font-size: var(--fn-large);
	color: var(--blue);
}
.content-main-body-requests main{
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	/*background: orange;*/
	position: relative;
	margin: 0rem 4rem 1rem 4rem;
}
.progress-bar{
	width: 0%;
	height: 1rem;
	background-color: var(--blue);
	position: absolute;
	top: 50%;
	left: 3%;
	transform: translateY(-50%);
	border-radius: 2rem;
	transition: width 1s ease; 

}
.content-main-body-requests main ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 100%;
	/*background: red;*/


}
.content-main-body-requests main ul li:first-child{
	background: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
}	
.content-main-body-requests main ul li{
	width: 5rem;
	height: 5rem;
	background: var(--white);
	border: 1px solid var(--blue);
	color: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	border-radius: 50%;
}
.content-main-body-requests footer{
	border-top: 1px solid var(--blue);
	padding: 1rem 1rem 1rem 1rem; 
	color: var(--blue);
}
.content-main-body-requests footer span i{
	margin-left: 0.3rem;
}
.assigned-staff, .status{
	display: flex;
	flex-direction: row;
}
.assigned-staff a, .status p:nth-child(2){
	margin-left: 0.5rem;
}


.content-main-foot{
	flex-grow: 0;
}
/*======================*/
/*==== CONTENT LEFT =====*/
/*======================*/

.content-side-left{
	grid-area: l;
}

/*======================*/
/*==== CONTENT RIGHT =====*/
/*======================*/

.content-side-right{
	grid-area: r;
	color: var(--blue);
	border: 1px solid var(--blueGreen);
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: column;
	/*border-radius: 1rem;*/
}
.content-side-right header{
	border-bottom: 1px solid var(--blueGreen);
	text-align: center;
	padding: 1rem 0rem 1rem 0rem;
	flex-grow: 0;
	background: var(--blueGreen);
	color: var(--white);
	font-weight: bold;
	/*border-radius: 1rem 1rem 0rem 0rem;*/
}
.content-side-right main{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 1rem;
}
.content-side-right-items{
	border: 1px solid var(--blueGreen);
	margin: 1rem 1rem 0rem 1rem;
	box-shadow: 10px 10px var(--blueGreen);
	/*padding: 1rem;*/
}	
.header-item{
	border-bottom: 1px solid var(--blueGreen); 
	padding: 0.3rem;
}
.body-item{
	padding: 1rem;
}
.body-item a{
	font-size: var(--fn-medium);
}
.footer-item{
	border-top: 1px solid var(--blueGreen); 
	padding: 0.3rem;
}
.no-pend-req{
	text-align: center;
	padding: 2rem;
	font-size: var(--fn-medium);
	font-weight: lighter;
}
.content-side-right footer{
	flex-grow: 0;
}

/*==== Modal Pupop Form =====*/
.modal-popup-request-form{
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(135, 192, 205,0.4);
	height: 100vh;
	width: 100vw;
	z-index: 1000;
}
.request-form{
	background: var(--white);
	color: var(--blue);
	padding: 2rem;
	border-radius: 1rem;
	position: relative;
}
.request-form-close{
	position: absolute;
	top: 1%;
	left: 92%;
	cursor: pointer;
}
.request-form-submit{
	background: var(--blue);
	color: var(--white);
	cursor: pointer;
	margin-top: 1rem;
	margin-left: 50%;
	transform: translateX(-50%);
}
.request-form header{
	font-size: var(--fn-medium);
	font-weight: lighter;
}

.content-main-foot{
	padding: 1rem;
	border-top: 1px solid var(--blue);
	text-align: center;
}
.request-work-btn{
	border: none;
	padding: 1rem;
	background: var(--blue);
	color: var(--white);
	border-radius: 2rem;
	cursor: pointer;
}
.request-work-btn:hover{
	background: var(--blueGreen);
	color: var(--white);

}

.request-form-workOrder, .materialAvailability{
	list-style: none;
}

/*======================*/
/*==== CONTENT FOOT =====*/
/*======================*/

.content-foot{
	grid-area: f;
}