@import 'globalVariables.css';



body{
	background: var(--white);
}


.container{
	margin: 0;
	display: grid;
	height: 100vh;

	grid-template-columns: 0.3fr 1fr 0.3fr;
	grid-template-rows: 0fr 1fr 0.02fr;
	grid-gap: 1rem;

	grid-template-areas: 
			'h h h'
			'l m r'
			'f f f';
}
/*=================================*/
/* CONTENT HEADER ================*/
/*===============================*/
.content-header{
	grid-area: h;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--fn-small);
}

.img-box{
	flex-grow: 0;
}
.header-title{
	flex-grow: 0;
	margin-left: 1rem;
	
}
.header-title a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}
.header-user{
	flex-grow: 1;
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}

.header-profile{
	flex-grow: 0.3;
}
.header-profile a{
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}

/*=====================*/
/*====== Content Main ===*/
/*====================*/
.content-main{
	grid-area: m;
	border: 1px solid var(--blueGreen);
	color: var(--blue);
	display: flex;
	flex-direction: column;
	/*background-color: pink;*/
}
.content-main .header{
	flex-grow: 0;
	border-bottom: 1px solid var(--blueGreen);
	padding: 0.5rem 0rem 0.5rem 0rem;
	text-align: center;
	font-size: var(--fn-medium);
	font-weight: bold;
}
/* content for ongoing requests */
.content-main .body{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	align-items: center;
	height: 1rem;
}
.content{
	margin-top: 1.5rem;
	border: 1px solid var(--blueGreen);
	width: 60%;
	box-shadow: 10px 10px var(--blueGreen);
}
.content-deptName{
	border-bottom: 1px solid var(--blueGreen);
	text-align: center;
	font-size: var(--fn-medium);
	font-weight: lighter;
}
.content-title{
	padding: 1rem 1rem 1rem 2rem;
	font-size: var(--fn-large);
}
.content-date{
	padding-left: 1rem;
	border-top: 1px solid var(--blueGreen);
	display: flex;
	flex-direction: column;
}
.content-date i{
	display: flex;
	flex-direction: row;

}
.content-date i p{
	margin-left: 0.5rem;
	font-weight: bold;
}

.content-main .footer{
	flex-grow: 0;
}



/*=====================*/
/*====== Content Left ===*/
/*====================*/
.content-left{
	grid-area: l;
	border: 1px solid var(--blueGreen);
	color: var(--white);
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	margin-left: 1rem;
}
.content-left .header{
	flex-grow: 0;
	border-bottom: 1px solid var(--blueGreen);
	text-align: center;
	padding: 0.5rem;
	font-size: var(--fn-regular);
	font-weight: lighter;
	color: var(--blue);
}
.content-left .main{
	flex-grow: 1;
	/*background-color: red;*/
	height: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--blue);
}

.content-left .footer{
	flex-grow: 0;
}
.content-left-items{
	border: 1px solid var(--blueGreen);
	border-radius: 1rem;
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	margin-top: 1rem;
	background-color: var(--white);
}
.content-left-items section:first-child{
	font-style: italic;
}
.content-left-items section:nth-child(2){
	font-size: var(--fn-medium);
}
.content-left-items section:nth-child(3) i{
	font-weight: bold;
}






/*=====================*/
/*====== Content Right ===*/
/*====================*/
.content-right{
	grid-area: r;
	border: 1px solid var(--blueGreen);
	margin-right: 1rem;
}





/*=====================*/
/*====== Content Foot ===*/
/*====================*/
.content-foot{
	grid-area: f;
}
